/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 * (Hacked by nick@cassiel.com to use Microgramma.)
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
//@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url(./fonts/microgramma/microgramma.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

//$heading1Size: 3.77em;


$mainFontSize: 42px;
$mainFont: 'Microgramma', Helvetica, sans-serif;
$headingFont: 'Microgramma', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

//$heading1Size: 2.5em;
//$heading2Size: 1.6em;
//$heading3Size: 1.3em;
//$heading4Size: 1.0em;

$heading1Size: 1.6em;
$heading2Size: 1.3em;
$heading3Size: 1.0em;
$heading4Size: 0.8em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
